@model IEnumerable<OnlineTest.Models.Question>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Questionn)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CorrectAnswer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Screenshot)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Expectedtime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Score)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Questionn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CorrectAnswer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Screenshot)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.Expectedtime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Score)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
